* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: black;
  color: white;
  height: 100vh;
}

.hidden {
  display: none;
}

/* INTRO */
#intro {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logo {
  font-size: 80px;
  color: #8f4cff;
  letter-spacing: 12px;
  text-shadow: 0 0 25px rgba(160,100,255,0.9);
}

#caption {
  margin-top: 15px;
  color: #d8c7ff;
}

/* AUTH */
#auth {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

#auth input {
  padding: 10px;
  width: 250px;
  background: black;
  border: 1px solid purple;
  color: white;
}

/* HOME */
#home {
  padding-bottom: 40px;
}

header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid purple;
}

#createPost {
  padding: 15px;
  display: flex;
  gap: 10px;
}

#createPost input {
  background: black;
  border: 1px solid purple;
  color: white;
  padding: 8px;
}

#feed {
  padding: 15px;
}

.post {
  border: 1px solid purple;
  padding: 10px;
  margin-bottom: 15px;
}

.post img {
  width: 100%;
  margin-top: 10px;
}

.post button {
  margin-top: 10px;
  background: none;
  border: 1px solid white;
  color: white;
}
